/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  text-align: center;
  background: linear-gradient(to top left, #5955a2, #8b918a);
}

img {
  height: 500px;
  width: 500px;
  border-radius: 15%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 50px black;
}

h1 {
  text-align: center;
}

a {
  background-color: blue;
  color: black;
  padding: 1e, 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #555;
}

a:active {
  background-color: black;
}

.lorem {
  background: linear-gradient(
    to top left,
    rgb(255, 63, 63),
    rgb(104, 159, 104)
  );
  box-shadow: 0 0 50px black;
  border-radius: 5%;
}
